<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557160444131-m1alaa1njk1886qdrbnn46or0i7ai7di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557160444131-m1alaa1njk1886qdrbnn46or0i7ai7di</string>
	<key>API_KEY</key>
	<string>AIzaSyDYGn06bwDs9O5_OMWcOOmaxPT_ni52Y6s</string>
	<key>GCM_SENDER_ID</key>
	<string>557160444131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalapp</string>
	<key>PROJECT_ID</key>
	<string>signing-example-7a53a</string>
	<key>STORAGE_BUCKET</key>
	<string>signing-example-7a53a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557160444131:ios:4ef0d75bfb23532a1115d6</string>
</dict>
</plist>